@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v27-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v27-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v27-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/open-sans-v27-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v27-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans-v27-latin_cyrillic-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Verdana, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

th,
td {
  text-align: start;
}

a {
  text-decoration: none;
}

body {
  background: rgba(245, 245, 245, 0.7);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-clear {
  padding: 0;
  border: none;
  background: none;
}

.container {
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1400px;
}

.show-card {
  height: 100vh;
}

/* Header */

.header {
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header_hide {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__logo {
  margin-right: 53px;
  width: 50px;
  height: 50px;
  background: url("../img/logo.svg") center center no-repeat transparent;
  background-size: cover;
}

.header__searcher {
  position: relative;
  width: 581px;
}

.prompts {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

.prompts__list {
  display: flex;
  opacity: 0;
  flex-direction: column;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 180px;
  overflow-y: auto;
  background: #fff;
  transition: opacity 0.3s ease;
}

.prompts__list_active {
  opacity: 1;
}

.prompts__button {
  text-align: start;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  transition: color 0.3s ease, background 0.3s ease;
}

.prompts__button:focus {
  outline: none;
}

.prompts__button:focus-visible {
  background: #d3d3d3;
}

.prompts__button:hover {
  background: #d3d3d3;
}

.header__search {
  padding: 11px 15px 12px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 100%;
  max-height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  transition: border 0.3s ease;
}

.header__search:focus-visible {
  outline: none;
  border-color: #8052ff;
}

.header__search:hover {
  border-color: #b89eff;
}

.header__search:active {
  border-color: #8052ff;
}

.header__search::placeholder {
  color: #b0b0b0;
}

/* Clients */

.main_hide {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(51, 51, 51, 0.6);
  transition: visibility 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.modal-overlay_active {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: inline;
  padding: 0;
  max-height: 0;
  width: 450px;
  background: #fff;
  opacity: 0;
}

.modal-registration_active {
  padding: 24px 0;
}

.modal_active {
  height: max-content;
  max-height: 100%;
  overflow-y: auto;
  opacity: 1;
  animation: modalOpen 0.5s ease 1 alternate forwards;
}

.modal_close {
  transition: max-height 0 ease;
  transition-delay: 0.5s;
  animation: modalClose 0.5s ease 1 alternate forwards;
}

@keyframes modalOpen {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modalClose {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20.5px;
  height: 20.5px;
  cursor: pointer;
}

.modal__close::after {
  content: "";
  position: absolute;
  top: 7;
  right: 0;
  width: 20.5px;
  height: 1.37px;
  background: #c8c5d1;
  transform: rotate(45deg);
  transition: background 0.3s ease;
}

.modal__close::before {
  content: "";
  position: absolute;
  top: 7;
  left: 0;
  width: 20.5px;
  height: 1.37px;
  background: #c8c5d1;
  transform: rotate(-45deg);
  transition: background 0.3s ease;
}

.modal__close:focus-visible {
  outline: 1px solid #9873ff;
  outline-offset: 3px;
}

.modal__close:hover::after,
.modal__close:hover::before {
  background: #d89eff;
}

.modal__close:active::after,
.modal__close:active::before {
  background: #8052ff;
}

.modal__content {
  margin-bottom: 25px;
  padding: 0 30px;
}

.modal__heading {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  position: relative;
  transition: padding 0.5s ease;
}

.modal__label:not(:last-child) {
  margin-bottom: 32px;
}

.modal__label_active {
  padding-top: 16px;
}

.modal__title {
  position: absolute;
  top: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
  transform: translateY(2px);
  transition: transform 0.3s ease, font-size 0.3s ease, line-height 0.3s ease,
    font-weight 0.3s ease;
  cursor: text;
}

.modal__title_active {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  transform: translateY(0);
}

.modal__input {
  padding: 0 15px 4px 0;
  border: none;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal__error {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 10px;
  line-height: 14px;
  color: #f06a4d;
}

.modal__input:focus-visible {
  outline: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
  padding: 8px 30px;
  background: rgba(200, 197, 209, 0.3);
}

.contacts_active {
  padding: 25px 30px;
}

.contacts__content_active {
  margin-bottom: 25px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__form {
  position: relative;
  display: flex;
  height: 100%;
}

.contacts__drop {
  padding: 10px 8px 10px 12px;
  border: none;
  border-right: 1px solid #c8c5d1;
  background: #e7e5eb;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  cursor: pointer;
}

.choices {
  margin: 0;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 10px;
}

.choices[data-type*="select-one"]::after {
  content: none;
}

.choices[data-type*="select-one"]::after,
.choices[data-type*="select-one"]::before {
  content: "";
  position: absolute;
  top: 18.5px;
  width: 9.38px;
  height: 1px;
  background: #9873ff;
  transition: transform 0.3s ease;
}

.choices[data-type*="select-one"]::after {
  right: 8.3px;
  margin: 0;
  border: none;
  transform: rotate(-45deg);
}

.choices[data-type*="select-one"]::before {
  right: 14.3px;
  transform: rotate(45deg);
}

.choices[data-type*="select-one"].is-open::after {
  margin: 0;
  transform: rotate(45deg);
}

.choices[data-type*="select-one"].is-open::before {
  transform: rotate(-45deg);
}

.choices__inner {
  padding: 10px 8px 10px 12px;
  border: 1px solid #c8c5d1;
  border-radius: 0;
  width: 123px;
  min-height: 37px;
  font-size: 12px;
  background: #e7e5eb;
  cursor: pointer;
}

.choices__list--single {
  padding: 0;
}

.choices__item--selectable {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.choices__list--dropdown {
  border: 1px solid #c8c5d1;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.choices__list--dropdown.is-active {
  opacity: 1;
}

.choices__list--dropdown .choices__list {
  padding: 0;
  background: #f4f3f6;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item {
  font-size: 12px;
  padding: 5px 11px;
}

.choices__item--choice {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.choices__item--choice.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item--choice.is-highlighted {
  background: rgba(231, 229, 235, 0.5);
}

.contacts__option {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.contacts__input {
  padding: 8px 35px 9px 13px;
  border: 1px solid #c8c5d1;
  border-left: none;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  background: transparent;
}

.contacts__error {
  position: absolute;
  top: -16px;
  left: 130px;
  font-size: 10px;
  line-height: 14px;
  color: #f06a4d;
}

.contacts__input::placeholder {
  font-weight: 400;
  color: #b0b0b0;
}

.contacts__input:focus-visible {
  outline: none;
}

.contacts__input:hover ~ .contacts__delete {
  opacity: 1;
  z-index: 0;
}

.contacts__add {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
}

.contacts__add_hide {
  display: none;
}

.contacts__delete {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 4px 9px 5px;
  border: 1px solid #c8c5d1;
  height: 100%;
  background: #e7e5eb;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.contacts__delete_active {
  opacity: 1;
  z-index: 0;
}

.contacts__delete:focus-visible {
  outline: 1px solid #f06a4d;
  border-left: none;
}

.contacts__delete:focus-visible path {
  fill: #f06a4d;
}

.contacts__delete:hover {
  outline: 1px solid #f06a4d;
  border-left: none;
  opacity: 1;
  z-index: 0;
}

.contacts__delete:hover path {
  fill: #f06a4d;
}

.contacts__delete:active {
  outline: 1px solid #e03812;
  border-left: none;
}

.contacts__delete:active path {
  fill: #e03812;
}

.contacts__add svg {
  position: absolute;
  left: 0;
  bottom: 8;
}

.contacts__add path {
  transition: fill 0.3s ease;
}

.contacts__add:focus-visible {
  outline: none;
  color: #b89eff;
}

.contacts__add:focus-visible path {
  fill: #b89eff;
}

.contacts__add:hover {
  color: #b89eff;
}

.contacts__add:hover path {
  fill: #b89eff;
}

.contacts__add:active {
  color: #9873ff;
}

.contacts__add:active path {
  fill: #9873ff;
}

.modal__do {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__button {
  margin-bottom: 5px;
  padding: 12.5px 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #9873ff;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contacts__error-server {
  margin-bottom: 16px;
  width: 255px;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #f06a4d;
}

.contacts__error-server_active {
  margin-bottom: 8px;
}

.modal__button:focus-visible {
  outline: none;
  background: #c8c5d1;
}

.modal__button:hover {
  background: #b89eff;
}

.modal__button:active {
  background: #8052ff;
}

.modal__cancellation {
  border-bottom: 1px solid #333;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease;
}

.modal__cancellation:focus-visible {
  outline: 1px solid #9873ff;
  outline-offset: 3px;
}

.modal__cancellation:hover {
  color: #b89eff;
  border-color: #b89eff;
}

.modal__cancellation:active {
  color: #8052ff;
  border-color: #8052ff;
}

.clients__heading {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.clients__content {
  position: relative;
}

.table {
  margin-bottom: 40px;
  width: 100%;
  border-spacing: 0;
}

.clients__content.is-load {
  min-height: 328px;
  max-height: 328px;
  margin-bottom: 40px;
  overflow: hidden;
}

.clients__preloader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 28px;
  right: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.clients__preloader_active {
  opacity: 1;
  visibility: visible;
}

.clients__loader {
  position: absolute;
  width: 72px;
  height: 72px;
  border: 8px solid #9873ff;
  border-radius: 100%;
  animation-name: spn-1, spn-2;
  animation-duration: 1s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate, normal;
}

@keyframes spn-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spn-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.table__heading {
  padding-left: 20px;
  padding-bottom: 8px;
}

.table__button {
  position: relative;
  padding-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.table__button.is-name {
  padding-right: 36px;
}

.table__button.is-name .table__indicator {
  color: #9873ff;
}

.table__indicator {
  position: absolute;
  right: 0;
  transition: color 0.3s ease;
}

.table-symbol {
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #9873ff;
  transition: transform 0.3s ease;
}

.table__button.is-name.is-descending .table__last-letter {
  transform: translateX(-16px);
}

.table__button.is-name.is-descending .table__first-letter {
  transform: translateX(16px);
}

.table__icon {
  transition: transform 0.3s ease;
}

.table__icon path {
  transition: fill 0.3s ease;
}

.table__button:focus-visible {
  outline: 1px solid #9873ff;
  outline-offset: 3px;
}

.table__button:hover {
  color: #8052ff;
}

.table__button:hover .table__indicator {
  color: #8052ff;
}

.table__button:hover .table__icon path {
  fill: #8052ff;
}

.table__button.is-increase {
  color: #9873ff;
}

.table__button.is-increase .table__icon path {
  fill: #9873ff;
}

.table__button.is-increase .table__indicator {
  color: #9873ff;
}

.table__button.is-increase .table__icon {
  transform: rotate(180deg);
}

.client {
  background-color: #fff;
  transition: background 0.3s ease;
}

.client_found {
  background: #ffff00;
}

.client__cell {
  padding: 20px;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  overflow-wrap: break-word;
  color: #333333;
}

.client__id {
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.client__name {
  cursor: pointer;
  transition: color 0.3s ease;
}

.client__name:focus-visible,
.client__name:hover {
  color: #5b46a9;
}

.client__date-exact {
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 108px;
}

.client__item:not(:nth-child(5n)) {
  margin-right: 7px;
}

.client__item.top {
  margin-bottom: 7px;
}

.client__item {
  line-height: 0;
}

.client__item_hide {
  display: none;
}

.client__prompt {
  position: absolute;
  top: -40px;
  left: 50%;
  padding: 7px 18px;
  width: max-content;
  background: #333333;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.client__prompt::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -7px;
  z-index: -1;
  background: url("../img/Union.svg") center center no-repeat transparent;
  background-size: contain;
}

.client__type {
  margin-right: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.client__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.client__link:hover {
  color: #5b46a9;
  border-bottom: 1px solid #5b46a9;
}

.client__contact {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center center no-repeat transparent;
  background-size: cover;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.client__contact:hover .client__prompt {
  opacity: 1;
  visibility: visible;
}

.client__contact_hide {
  display: none;
}

.client__contact-vk {
  background-image: url("../img/vk.svg");
}

.client__contact-fb {
  background-image: url("../img/fb.svg");
}

.client__contact-tel {
  background-image: url("../img/phone.svg");
}

.client__contact-mail {
  background-image: url("../img/mail.svg");
}

.client__contact-other {
  background-image: url("../img/other.svg");
}

.client__contact:focus-visible {
  outline: 1px solid #9873ff;
  outline-offset: 3px;
}

.client__contact:hover,
.client__contact:hover {
  opacity: 1;
}

.client__additionally {
  padding: 2px;
  border: 1px solid #9873ff;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  color: #333333;
  cursor: pointer;
  transition: border 0.3s ease;
}

.client__additionally_hide {
  display: none;
}

.client__additionally:focus-visible,
.client__additionally:hover,
.client__additionally:active {
  border-color: #8052ff;
}

.client__button {
  position: relative;
  padding-left: 19px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.client__button:not(:last-child) {
  margin-right: 32px;
}

.client__button-edit:hover,
.client__button-edit:active {
  color: #9873ff;
}

.client__button-delete:hover,
.client__button-delete:active {
  color: #f06a4d;
}

.client__button-edit::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/edit.svg") center center no-repeat transparent;
  background-size: cover;
  transition: opacity 0.3s ease;
}

.client__button-edit_load::before {
  opacity: 0;
}

.client__button-edit::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  background: url("../img/preloader-button.svg") center center no-repeat
    transparent;
  background-size: cover;
  transition: opacity 0.3s ease;
  animation: spin 1s linear infinite;
}

.client__button-edit_load::after {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.client__button-delete::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/cancel.svg") center center no-repeat transparent;
  background-size: cover;
}

.clients__add {
  display: flex;
  justify-content: center;
}

.clients__button {
  position: relative;
  padding: 13px 25.5px 13px 57.5px;
  border: 1px solid #9873ff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9873ff;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
}

.clients__icon {
  position: absolute;
  top: 13px;
  left: 25.5px;
}

.clients__icon path {
  transition: fill 0.3s ease;
}

.clients__button:focus-visible {
  outline: none;
  color: #c8c5d1;
  border-color: #c8c5d1;
}

.clients__button:focus-visible .clients__icon path {
  fill: #c8c5d1;
}

.clients__button:hover {
  color: #fff;
  background: #b89eff;
}

.clients__button:hover .clients__icon path {
  fill: #fff;
}

.clients__button:active {
  color: #fff;
  background: #8052ff;
}

.clients__button:active .clients__icon path {
  fill: #fff;
}
/*
.modal-delete {

} */

.modal-delete_active {
  padding: 22px 14px 27px;
}

.modal-delete__text {
  margin: 0 auto 25px;
  max-width: 275px;
  text-align: center;
}

.modal-delete__heading {
  margin-bottom: 11px;
}

.modal-delete__description {
  font-style: 14px;
  line-height: 19px;
  color: #333;
}

.modal-edit__id {
  padding-left: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.card {
  display: none;
  height: 100%;
  background: #dce1e6;
}

.card_active {
  display: block;
}

.card__container {
  position: relative;
  max-width: 800px;
  max-height: 700px;
  overflow-y: auto;
  padding: 30px;
  background: #fff;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.card__avatar {
  max-width: 250px;
}

.card__client-img {
  border-radius: 50%;
  width: 100%;
  height: 250px;
}

.card__info {
  width: 50%;
}

.card__id {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.card__back {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
  cursor: pointer;
  transition: color 0.3 ease;
}

.card__back:focus-visible,
.card__back:hover {
  color: #0000ff;
}

.card__icon g {
  transition: fill 0.3s ease;
}

.card__back:focus-visible .card__icon g,
.card__back:hover .card__icon g {
  fill: #0000ff;
}

.info__heading {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
}

.info__value {
  font-size: 18px;
  color: #333;
}

.info__item:not(:last-child) {
  margin-bottom: 10px;
}

.card__heading {
  display: none;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.card__item:not(:last-child) {
  margin-bottom: 20px;
}

.card__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #333;
  transition: color 0.3s ease;
}

.card__value:hover,
.card__value:focus-visible {
  color: #5b46a9;
}
